
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">

      

      <div class="collapse navbar-collapse" id="mynavbar">
        
        <div class="d-flex flex-column w-100"> <!--This makes sure that per <div>, theres a separate line -->

            <div> <!--start of first row-->    
            <ul class="navbar-nav w-100 " > <!--first row first half, idk why w-100 makes its width not the full lenghth of the navbar, edit: fixed it by adding w-100 to the line above-->
                <div class="d-flex align-items-center me-auto" >
                    <a class="navbar-brand p-auto" href="/">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    {%if current_sessionID != 0%}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Category 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Category 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Category 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Category 4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Category 5</a>
                    </li>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center" style="margin-right:2%">
                    {%if current_sessionID != 0 %}
                    <li class="nav-item p-2">
                        <a href="/viewLikedListings/{{current_sessionID}}">
                            <i class="bi bi-heart" style="color:white; font-size: 2rem;"></i>
                        </a>
                        
                    </li>
                    <li class="nav-item p-2">
                        <i class="bi bi-cart2" style="color:white; font-size: 2rem;"></i>
                    </li>
                    <li class="nav-item p-2">
                        <i class="bi bi-bell" style="color:white; font-size: 2rem;"></i>
                    </li>
                    <li class="nav-item p-2">
                        <a href = "/messages">
                            <i class="bi bi-chat" style="color:white; font-size: 2rem;"></i>
                        </a>
                    </li>


                    {% endif %}
                    
                </div>
                <div class="d-flex align-items-center" style="margin-right:1%"> <!--Does a bit out of alignment but idc-->
                    <div class="btn-group"> <!--very impt to have this here-->
                    <button type="button" class="btn btn-primary border-dark bg-dark rounded d-flex justify-content-center align-items-center" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 3.3rem; height: 3.3rem; padding: 0;">
                        <li class="nav-item m-auto me-auto">
                            <i class="bi bi-person-circle" style="color: white; font-size: 2rem;"></i>
                        </li>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item">Current sessionID: {{current_sessionID}}</li>
                        {% if current_sessionID != 0 %}
                        <li><a class="dropdown-item" href="/profile/{{current_sessionID}}">View profile</a></li>
                        <li><a class="dropdown-item" href="/feedback">Submit Feedback</a></li>
                        <li><a class="dropdown-item" href="/loginoptions">Logout</a></li>
                        <li><a class="dropdown-item" href="/createlisting">Create listing</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="/signup">Login</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </ul>
            </div> <!--end of first row-->  

            <div class="w-100 "> <!--to increase the search field length. also make sure its the same width as the first row-->
                <form class="d-flex align-items-end" method="POST">
                    <form method="POST" action="" >
                        <div class="form-group" style="width:95%">
                            {{ render_field(searchform.searchfield, class="form-control") }}
                        </div>
                        <div style="margin-left:1%;"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </form>
                    
                </form>
            </div>

        </div>
    </div>
    </div>
  </nav>
