{% extends "Customerbase.html"%}
{% block title %}Homepage{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<style>
    .categorysection{
        font-weight: bold;
    }

    .conditionsection1{
        
        font-weight: bold;
    }
    .conditionsection2{
        
        list-style-type: none;
    }

    .paymentmethodsection1{
        list-style-type:none;
    }
</style>
<div style="width:100vw; height:100vh;"> <!--div for screen only-->
    <div class="d-flex flex-column w-50 d-flex justify-content-center" style="justify-self:end; border:red solid 3px" >
        <form method="POST" action="">


            <div style="background:gray; width:40vw; justify-self:center; padding:2%; margin:2%;">
                <div class="form-group categorysection">
                    {{ render_field(form.category, class="form-control") }}
                </div>
            </div>
            
            <div style="background:gray; width:40vw; justify-self:center; padding:2%; margin:2%;">
                <div class="form-group conditionsection1" >
                    {{ render_field(form.condition, class="form-control conditionsection2") }} <!--insert class for css -->
                </div>
            </div>

            <div style="background:gray; width:40vw; justify-self:center; padding:2%; margin:2%;">
                <p style="font-weight:bold">Item details</p>
                    <div class="form-group" >
                        {{ render_field(form.title, class="form-control") }}
                    </div>
                    <div class="form-group" >
                        {{ render_field(form.description, class="form-control") }}
                    </div>
                    <div class="form-group" >
                        {{ render_field(form2.listingimg, class="form-control") }}
                    </div>
            </div>


            <div style="background:gray; width:40vw; justify-self:center; padding:2%; margin:2%;">
                <div class="form-group " >
                    {{ render_field(form.payment_method, class="form-control paymentmethodsection1") }}
                </div>
            </div>
            <div style="justify-self:center"> <!--div for button only-->
                <input type="submit" value="Create Listing" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}