{% extends "Customerbase.html"%}
{% block title %}View listing{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<div style="width:100vw; height:100vh;margin:0%"  class="d-flex flex-row"> <!--for screen only-->
    <div style="width:40vw;" class="d-flex align-items-center justify-content-center ">
        <div style="background:lightgray; width:35vw; justify-self:center; align-self:center; padding:2%; border-radius:0px; height:80vh;" >
            
            <div class="d-flex flex-column"> <!--container for the info, Username on top, below is pfp left--> 
                
                <div class="align-self-center" style="justify-self:center;"> <!--listing img-->
                    <img src="../../../static/listingpics/listing{{listing.get_ID()}}.jpg" style="width:500px; height:350px; margin-top:7%;margin-bottom:15%" >
                </div>
                <div  class="d-flex flex-row  justify-content-evenly " style="margin:3%;">
                    <div style="width:30%" class="align-items-center">
                        <a href="/messages" class="btn btn-info align-items-center" role="button" style="background:white; height:6vh; border:none; padding:5%; width:100%"><p style="justify-self:center; color:black; font-weight:bold">Chat with dealer<i class="bi bi-chat" style="font-size:1.3rem"></i></p></a>
                    </div>
                    <div style="width:30%" class="align-items-center">
                        <a href="#" class="btn btn-info" role="button" style="background:red; height:6vh; border:none; padding:5%; width:100%"><p style="color:black; font-weight:bold">Add to cart<i class="bi bi-cart2" style="font-size:1.3rem"></i></p></a>
                    </div>
                
                {%if user_liked_post == 'False'%} 
                <div>
                    <a href="/createLikedListing/{{listing.get_ID()}}">
                        <i class="bi bi-heart" style="color:black; font-size: 2rem;"></i>
                    </a>
                </div>
                {% endif %}
                {%  if user_liked_post == 'True'%}
                <div>
                    <a href="/createUnlikedListing/{{listing.get_ID()}}">
                        <i class="bi bi-heart-fill" style="color:red; font-size: 2rem;"></i>
                    </a>
                </div>
                {% endif %}
                </div>
            </div>

        </div>
    </div>
    
    <div style="width:40vw; margin-left:7%" class="d-flex align-items-center justify-content-center ">
        <div style="background:lightgray; width:35vw; justify-self:center; padding:2%; border-radius:0px; height:80vh;">
            <div  class="d-flex flex-column">
                <div class="d-flex flex-row align-self-start">
                    <div class="d-flex flex-row align-self-center" style="margin-left:9%; margin-top:2%; margin-right:5%;">
                        <img src="../../../static/profilepics/customer{{listing.get_creatorID()}}.jpg" style="width:60px; height:60px; border-radius:50%; border:solid black 3px;" class="align-self-center"> <!--load profile pic-->
                        <a href="/profile/{{listing.get_creatorID()}}"class="align-self-center" style="margin-bottom:0px; font-size:1.5rem;  color:black; text-decoration:none; ">{{listing.get_creator_username()}}</a>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <p class="m-auto" style="font-size:1.5rem;">{{seller.get_rating()}}</p> 
                        <i class="bi bi-star-fill" style="color:rgb(1, 1, 248);" ></i>
                    </div>
                </div>
                <div><!--title-->
                    <h1 style="margin-top:3%; margin-bottom:3%; margin-left:3%; font-size:5rem; font-weight:bolder;">{{listing.get_title()}}</h1>
                        
                </div>
                <div style="margin-left:3%;"> <!--How you're getting this-->
                    <h2 style="font-weight:bold">How you're getting this:</h2>
                    {% if listing.get_deal_method() == "meetup"%}
                    <p style="font-weight:bold;">Meetup</p>
                    <p>{{listing.get_deal_meetupinfo()}}</p>
                    {%endif%}
                    {% if listing.get_deal_method() == "delivery"%}
                    <p style="font-weight:bold;">Delivery</p>
                    <p>{{listing.get_deal_deliveryinfo()}}</p>
                    {%endif%}
                    {% if listing.get_deal_method() == "meetupdelivery"%}
                    <p style="font-weight:bold;">Meetup</p>
                    <p>{{listing.get_deal_meetupinfo()}}</p>
                    <p style="font-weight:bold;">Delivery</p>
                    <p>{{listing.get_deal_deliveryinfo()}}</p>
                    {%endif%}
                </div>
                <div style=" margin-left:3%;">
                    <h2 style="font-weight:bold;">Category</h2>
                    <p>{{listing.get_category()}}</p>
                </div>
                <div style="margin-left:3%">
                    <h2 style="font-weight:bold;">Description</h2>
                    <p>{{listing.get_description()}}</p>
                </div>
                <h2 style="font-weight:bold; margin-left:3%;">Condition</h2>
                <div class="d-flex flex-row ">
                    {% if listing.get_condition() == "Barely used"%}
                    <a class="btn btn-dark" href="#" role="button" style="border-radius:50px; border:green 5px solid;margin-left:3%;margin-right:5%">Barely used</a>
                    {%else%}
                    <a class="btn btn-success" href="#" role="button" style="border-radius:50px; margin-left:3%; margin-right:5%">Barely used</a>
                    {%endif%}
                    {% if listing.get_condition() == "Frequently used"%}
                    <a class="btn btn-dark" href="#" role="button" style="border-radius:50px; border:green 5px solid; margin-right:5%">Frequently used</a>
                    {%else%}
                    <a class="btn btn-dark" href="#" role="button" style="border-radius:50px; margin-right:5%">Frequently used</a>
                    {%endif%}
                    {% if listing.get_condition() == "Used daily"%}
                    <a class="btn btn-dark" href="#" role="button" style="border-radius:50px; border:green 5px solid;margin-right:5%">Used daily</a>
                    {%else%}
                    <a class="btn btn-dark" href="#" role="button" style="border-radius:50px;margin-right:5%">Used daily</a>
                    {%endif%}
                </div>
                
                
            </div>
            <!--

                <p style="font-weight:bold; font-size:2.5em;">Category</p>
                <p>{{listing.get_category()}}</p>
            </div>
            <div class="d-flex flex-column" style="margin:3%;">
                <p style="font-weight:bold; font-size:2.5em;">Condition</p>
                <p>{{listing.get_condition()}}</p>
            </div>
            <div class="d-flex flex-column" style="margin:3%;">
                <p style="font-weight:bold; font-size:2.5em;">Description</p>
                <p>{{listing.get_description()}}</p>
            </div>
            
            <div class="d-flex flex-column"style="margin:3%;">
                {% if listing.get_deal_method() == "meetup"%}
                <p style="font-weight:bold; font-size:2.5em;">Meetup</p>
                {{listing.get_deal_meetupinfo()}}
                {%endif%}
                {% if listing.get_deal_method() == "delivery"%}
                <p style="font-weight:bold; font-size:2.5em;">Delivery</p>
                {{listing.get_deal_deliveryinfo()}}
                {%endif%}
                {% if listing.get_deal_method() == "meetupdelivery"%}
                <p style="font-weight:bold; font-size:2.5em;">Meetup</p>
                {{listing.get_deal_meetupinfo()}}
                <p style="font-weight:bold; font-size:2.5em;">Delivery</p>
                {{listing.get_deal_deliveryinfo()}}
                {%endif%}
            </div>
            <div  class="d-flex flex-row  justify-content-evenly " style="margin:3%;">
                <div style="width:30%" class="align-items-center">
                    <a href="#" class="btn btn-info align-items-center" role="button" style="background:white; height:6vh; border:none; padding:5%; width:100%"><p style="justify-self:center; color:black; font-weight:bold">Chat with dealer<i class="bi bi-chat" style="font-size:1.3rem"></i></p></a>
                </div>
                <div style="width:30%" class="align-items-center">
                    <a href="#" class="btn btn-info" role="button" style="background:red; height:6vh; border:none; padding:5%; width:100%"><p style="color:black; font-weight:bold">Add to cart<i class="bi bi-cart2" style="font-size:1.3rem"></i></p></a>
                </div>
                

                {%if user_liked_post == 'False'%} 
                    <a href="/createLikedListing/{{listing.get_ID()}}">
                        <i class="bi bi-heart" style="color:black; font-size: 2rem;"></i>
                    </a>
                </div>
                {% endif %}
                {%  if user_liked_post == 'True'%}
                <div>
                    <a href="/createUnlikedListing/{{listing.get_ID()}}">
                        <i class="bi bi-heart-fill" style="color:red; font-size: 2rem;"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
