{% extends "Customerbase.html" %}
{% block title %}Update Feedback{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<h1 class="display-4">Update Feedback</h1>

<form method="POST">
    <div class="form-group">
        <label for="rating">Rating:</label>
        {{ render_field(update_feedback_form.rating, class="form-control") }}
    </div>
    <div class="form-group">
        <label for="remark">Remark:</label>
        {{ render_field(update_feedback_form.feedback, class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Update Feedback</button>
    <a href="/profilefeedback/{{current_sessionID}}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}