{% extends "Customerbase.html"%}
{% block title %}Select Deal Method{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<style>
    .categorysection {
        font-weight: bold;
    }
    .conditionsection1 {
        font-weight: bold;
    }
    .conditionsection2 {
        list-style-type: none;
    }
    .paymentmethodsection1 {
        list-style-type: none;
    }
</style>

<div style="width:100vw; height:100vh;"> <!--div for screen only-->
    <div class="d-flex flex-column w-50 d-flex justify-content-center" style="justify-self:center;">
        <form method="POST" action="" enctype="multipart/form-data">

            <div style="background:gray; width:40vw; justify-self:center; padding:2%; margin:2%;">
                <p style="font-weight:bold">Select your Deal Method</p>

                <!-- Meet-up checkbox -->
                <div class="form-group form-check form-switch">
                    {{ form.meetup.label(class_="form-check-label", for="flexSwitchCheckMeetup") }}
                    {{ form.meetup(class_="form-control form-check-input", type_="checkbox", role_="switch", id_="flexSwitchCheckMeetup") }}
                </div>

                <!-- Delivery checkbox -->
                <div class="form-group form-check form-switch">
                    {{ form.delivery.label(class_="form-check-label", for="flexSwitchCheckDelivery") }}
                    {{ form.delivery(class_="form-control form-check-input", type_="checkbox", role_="switch", id_="flexSwitchCheckDelivery") }}
                </div>

                <!-- Address field (combined for both deal methods) -->
                <div class="form-group">
                    {{ form.address.label(class="form-label") }}
                    {{ render_field(form.address, class="form-control") }}
                </div>

            </div>

            <div style="justify-self:center"> <!--div for button only-->
                <input type="submit" value="Confirm Deal Method" class="btn btn-primary" href="/ViewCart/{{current_sessionID}}">
            </div>

        </form>
    </div>
</div>

{% endblock %}
