{% extends "Customerbase.html"%}
{% block title %}Your Profile - reviews{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<style>
.categories{
    font-size:1.5rem;
}

.categories:active{
    color:green;
}


#reviewbar{
    margin:20px;
    background:lightgray;
    height:14vh;
    width:40vw;
    float:left;
}


</style>
<h1 class="display-4">Profile</h1>


<div id="profilebar " style="background: gray; height: 17vh; left:20%;" class=" w-50 p-3 d-flex " > <!--vh means 15% of viewport aka dynamic lmao-->
    <img src="../static/profilepics/customer{{customer.get_id()}}.jpg" style="width:100px; height:100px; border-radius:50%" class="align-self-center"> <!--load profile pic-->
    <p class="m-auto align-self-baseline" style="font-size:1.5rem">{{customer.get_username()}}</p>
    <p class="m-auto" style="font-size:1.5rem;">{{customer.get_rating()}}
        <i class="bi bi-star-fill" style="color:rgb(1, 1, 248);" ></i>
    </p>
    <p class="m-auto" style="font-size:1.5rem">{{customer.get_date_joined()}}</p>
    <div>
        <button type="button" class="btn btn-primary bg-secondary border-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
        </button>
        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/createReview/{{customer.get_id()}}" class="align-items-center">Leave review<i class="bi bi-pen" style="color: black; margin-left:7%;"></i></a></li>
            {%if current_sessionID != customer.get_id()%}
            <li><a class="dropdown-item" href="" class="align-items-center" data-bs-toggle="modal" data-bs-target="#myModal1" style="color:red;">Report user<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
            {% endif %}
            {%if current_sessionID == customer.get_id()%}
            <li><a class="dropdown-item" href="#" class="align-items-center">Edit profile<i class="bi bi-pen" style="color: black; margin-left:7%;"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class=" w-25 p-3 d-flex align-items-center"> <!--still a wip-->
    <a href="/profile/{{customer.get_id()}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Listings</a>
    <a href="/profilereviews/{{customer.get_id()}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Reviews</a>
    {% if current_sessionID == customer.get_id()%}
    <a href="/profilefeedback/{{customer.get_id()}}"style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Feedback {{number_of_feedback}}</a>
    {%endif%}
</div>

{% if number_of_reviews == 0 %}
<p>There are no reviews.</p>
{% else %}
<div id="reviews_container" class="w-50 p-3 h-auto d-inline-block justify-content-center"> <!--container for the reviews, same concept as listings-->
{% for review in list_reviews%}
    <div id="reviewbar" class="p-3 d-flex">

        <div class="d-flex flex-column"> <!--display profile pic with name underneath-->
            <img src="{{reviewer_imgid}}" style="width:70px; height:70px; border-radius:50%">
            <p>{{review.get_creator_username()}}</p>
        </div>
    
        <p style="margin-left:4%">{{review.get_comment()}}</p>
    </div>
{% endfor %}
{% endif %}
<!--Popup to report-->
<div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Why are you reporting this user</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(form.category, class="form-control") }}
                    </div>
        
                    <div class="form-group ">
                        {{ render_field(form.report_text, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                   
            
                </div>
        
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}