{% extends "Customerbase.html"%}
{%block title %}Leave feedback{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content%}
<style>
    .ratingsection1{
        list-style-type: none;
        width:50vw;

    }
</style>
<h1 class="display-4">Leave feedback</h1>
<div style="width:100vw; height:100vh solid blue 5px">
    <form method="POST" action="">
        <div>
            <div class="form-group">
                <label for="category">Feedback Type:</label>
                {{ render_field(form.category, class="form-control") }}
            </div>

            <div class="form-group ">
                {{ render_field(form.rating, class="form-control ratingsection1 d-flex flex-row justify-content-evenly") }}
            </div>

            <div class="form-group ">
                {{ render_field(form.feedback, class="form-control") }}
            </div>

            <div style="justify-self:center"> <!--div for button only-->
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
    
        </div>

    </form>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
