{% extends "Customerbase.html"%}
{% block title %}Your Profile{% endblock %}

{% block content %}
<style>
.categories{
    font-size:1.5rem;
}

.categories:active{
    color:green;
}

#listing{
    margin:20px;
    float:left; 
    /*border:3px solid red;*/
    height:340px;
    width:300px;
    border-radius: 5%;
}


</style>
<h1 class="display-4">Profile</h1>


<div id="profilebar " style="background: gray; height: 17vh; left:20%;" class=" w-50 p-3 d-flex flex-row" > <!--vh means 15% of viewport aka dynamic lmao-->
    <img src="../static/profilepics/hermos.jpg" style="width:100px; height:100px; border-radius:50%" class="align-self-center"> <!--load profile pic-->
    <p class="m-auto align-self-baseline" style="font-size:1.5rem">{{customer.get_username()}}</p>
    <p class="m-auto" style="font-size:1.5rem;">{{customer.get_rating()}}
        <i class="bi bi-star-fill" style="color:rgb(1, 1, 248);" ></i>
    </p>    
    <p class="m-auto" style="font-size:1.5rem">{{customer.get_date_joined()}}</p>
    <div>
        <button type="button" class="btn btn-primary bg-secondary border-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
        </button>
        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/createReview/{{current_sessionID}}" class="align-items-center">Leave review<i class="bi bi-pen" style="color: black; margin-left:7%;"></i></a></li>
            {%if current_sessionID == customer.get_id()%}
            <li><a class="dropdown-item" href="#" class="align-items-center">Edit profile<i class="bi bi-pen" style="color: black; margin-left:7%;"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class=" w-25 p-3 d-flex align-items-center"> <!--still a wip-->
    <a href="/profile/{{current_sessionID}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Listings</a>
    <a href="/profilereviews/{{current_sessionID}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Reviews</a>
</div>

<div id="listing_container" class="align-items-center w-75 p-3 h-auto d-inline-block">
    {% for listing in listings_list %} 
    <div id= "listing"style="float:left;"class="bg-secondary">
        <div class="d-flex justify-content-center align-items-center" style="height:70%; width:100%"> <!--THIS div for img ONLY-->
            <img src=../static/listingpics/listing{{listing.get_ID()}}.jpg style="width:200px; height:150px; border-radius: 5%;">
        </div>

        <p class="" style="justify-self:center">{{listing.get_title()}}</p> <!--name of listing-->

        <!--drop down options and stuff-->
        <div style="justify-self:end"> <!--added an div as justify-self:end works if it is one-->
            <div class="btn-group dropup">
                <button type="button" class="btn btn-primary bg-secondary border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                </button>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {%if current_sessionID == customer.get_id()%} <!--only owner can view these options-->
                    <li><a class="dropdown-item" href="/updateListing/{{listing.get_ID()}}" class="align-items-center">Update listing<i class="bi bi-wrench-adjustable" style="color: black; margin-left:7%;"></i></a></li>
                    <li><a class="dropdown-item" href="/deleteListing/{{listing.get_ID()}}" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal">Delete listing<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                    {% endif %}
                    
                    <li><a class="dropdown-item" href="/viewListing/{{listing.get_ID()}}" class="align-items-center" style="color:black">View listing<i class="bi bi-eye" style="color: black; margin-left:13%;"></i></a></li><!--everyone should be able to view-->
                    {%if current_sessionID != customer.get_id()%} <!--ONLY OTHER USERS CAN SEE THIS-->
                    {%endif%}
                </ul>
            </div>
        </div>
        <!--Popup to confirm delete listing!-->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Warning!</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Are you sure you want to delete this post
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <a href="/deleteListing/{{listing.get_ID()}}" class="btn btn-danger">Yes</a>
                </div>
          
              </div>
            </div>
          </div>
    </div> <!--float:left is very fucking impt, i added a border so i can SEE THE DIVS -->
    {% endfor %}
</div>
{% endblock %}

<!--
"{{ url_for('static', filename='{{imgid}}') }}""
-->