{% extends "Customerbase.html"%}
{% block title %}View listing{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<style>
    #notificationbar{
        margin:20px;
        background:lightgray;
        height:14vh;
        width:40vw;
        float:left;
    }
</style>
<h1>Notifications</h1>
{% for notification in notifications_list%}
<div class="w-50 p-3 h-auto d-inline-block justify-content-center"> <!--container for notifications-->
    <div id="notificationbar" class="d-flex flex-column">
        <p>{{notification.get_datetimestamp()}}</p>
        <p>{{notification.get_content()}}</p>
    </div>

</div>
{% endfor %}
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}