{% extends "Customerbase.html"%}
{% block title %}Create Listing{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<div class="d-flex flex-column w-50 justify-content-center" style="border:red solid 3px; margin:auto; height:50vh; background-color:lightgray; margin-top:10vh;">
    <h1 class="w-100 d-flex justify-content-center align-content-center">Login as</h1>
    <div class="w-100 d-flex justify-content-center" style="height:20%; margin-bottom:3%"><!--for login as customer-->
        <a class="btn btn-primary w-50 justify-content-center" href="login"><p style="font-size:2.4rem">Customer</p></a>
    </div>
    <div class="w-100 d-flex justify-content-center" style="height:20%"><!--for login as operaotor-->
        <a type="button" class="btn btn-danger w-50" href="/loginoperator"><p style="font-size:2.4rem">Operator</p></a>
    </div>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}