{% extends "Operatorbase.html" %}
{% block title %}Replying to feedback{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<h1 class="display-4">Reply Feedback</h1>

<form method="POST">
    <div class="form-group">
        <label for="reply">Reply:</label>
        {{ render_field(reply_feedback_form.reply, class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Reply Feedback</button>
    <a href="/dashboard/feedbacks" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}