{% extends "Operatorbase.html"%}
{% block title %}Profile{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<style>
    .categories{
        font-size:1.5rem;
    }
    
    .categories:active{
        color:green;
    }
    
    #listing{
        margin:20px;
        float:left; 
        /*border:3px solid red;*/
        height:340px;
        width:300px;
        border-radius: 5%;
    }
    
    
    </style>
    <h1 class="display-4">Profile</h1>
    
    <div id="profilebar " style="background: gray; height: 17vh; left:20%;" class=" w-50 p-3 d-flex flex-row" > <!--vh means 15% of viewport aka dynamic lmao-->
        <img src="../static/profilepics/customer{{customer.get_id()}}.jpg" style="width:100px; height:100px; border-radius:50%" class="align-self-center"> <!--load profile pic-->
        
        <p class="m-auto align-self-baseline" style="font-size:1.5rem">{{customer.get_username()}}</p>
        {%if customer.get_status() =="active"%}
        <p class="m-auto" style="font-size:1.5rem;">{{customer.get_rating()}}
            <i class="bi bi-star-fill" style="color:rgb(1, 1, 248);" ></i>
        </p>    
        <p class="m-auto" style="font-size:1.5rem">{{customer.get_date_joined()}}</p>
        {%endif%}
        {%if customer.get_status() == "suspended"%}
        <p class="m-auto" style="font-size:1.5rem; color:red">This account is under suspension</p>
        {%endif%}
        {%if customer.get_status() == "terminated"%}
        <p class="m-auto" style="font-size:1.5rem; color:red">This account is terminated</p>
        {%endif%}
        <div>
            <button type="button" class="btn btn-primary bg-secondary border-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
            </button>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {%if customer.get_status() != "suspended"%}
                <li><a class="dropdown-item" href="#" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal1">Suspend User<i class="bi bi-exclamation-trianglen" style="color: red; margin-left:7%;"></i></a></li>
                {%endif%}
                {%if customer.get_status() != "terminated"%}
                <li><a class="dropdown-item" href="#" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal2">Terminate User<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                {%endif%}
                {%if customer.get_status() != "active"%} <!--for now u can restore a terminated account-->
                <li><a class="dropdown-item" href="#" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal3">Restore user<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                {%endif%}
            </ul>
        </div>
    </div>
    <div class=" w-50 p-3 d-flex align-items-center"> <!--still a wip-->
        <a href="/operatorviewprofile/{{customer.get_id()}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Listings</a>
        <a href="/operatorviewprofilereviews/{{customer.get_id()}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Reviews</a>
        <a href = "/operatorviewprofilefeedback/{{customer.get_id()}}"style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Feedback</a>
    </div>
    
    <div id="listing_container" class="align-items-center w-75 p-3 h-auto d-inline-block">
        {% for listing in listings_list %} 
        <div id= "listing"style="float:left; border-radius:none; height:42vh; d-flex flex-column"class=""> <!--bg-secondary removed for now-->
            <div class="d-flex flex-row align-self-center" style="margin-left:9%; margin-top:2%;">
                <img src="../static/profilepics/customer{{listing.get_creatorID()}}.jpg" style="width:30px; height:30px; border-radius:50%; border:solid black 3px;" class="align-self-center"> <!--load profile pic-->
                <p class="align-self-center" style="margin-bottom:0px;">{{listing.get_creator_username()}}</p>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height:70%; width:100%"> <!--THIS div for img ONLY-->
                <img src=../static/listingpics/listing{{listing.get_ID()}}.jpg style="width:250px; height:200px; border-radius: 5%; justify-self:center">
            </div>
            {% if listing.get_status() == "disabled"%}
            <div>
            <p class="" style="justify-self:center; color:red;">This listing is under review</p> 
            </div>
            {%endif%}
            {% if listing.get_status() == "available"%}
            <div style="margin-left:9%; margin-bottom:0px;">
                <p class="" style="justify-self:start; margin-bottom:0px;">{{listing.get_title()}}</p> 
            <p class=""style="justify-self:start; margin-bottom:0px; font-weight:bold"> {{listing.get_condition()}}</p>
        </div>
            
    
            {%endif%}
        
            <!--drop down options and stuff-->
            <div style="justify-self:end"> <!--added an div as justify-self:end works if it is one-->
                <div class="btn-group dropup" >
                    <button type="button"  style="background:none;"class="btn btn-primaryborder-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                    </button>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#" class="align-items-center" style="color:black">View listing<i class="bi bi-eye" style="color: black; margin-left:13%;"></i></a></li><!--everyone should be able to view-->
                        {% if listing.get_status() != "disabled"%}
                        <li><a class="dropdown-item" href="/operatordisablelisting/{{customer.get_id()}}/{{listing.get_ID()}}" class="align-items-center" style="color:red">Disable listing<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                        {%endif%}
                        {% if listing.get_status() == "disabled"%}
                        <li><a class="dropdown-item" href="/operatorrestorelisting/{{customer.get_id()}}/{{listing.get_ID()}}" class="align-items-center" style="color:red">Restore listing<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                        {%endif%}
                        {%if current_sessionID != customer.get_id()%} <!--ONLY OTHER USERS CAN SEE THIS-->
                        {%endif%}
                    </ul>
                </div>
            </div>    
        </div> <!--float:left is very fucking impt, i added a border so i can SEE THE DIVS -->
{% endfor %}

    
<!--Popup to suspend user!-->
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Why are you suspending this user?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(suspend_user_form.category, class="form-control") }}
                    </div>
        
                    <div class="form-group ">
                        {{ render_field(suspend_user_form.suspend_text, class="form-control") }}
                    </div>
                    <div class="form-group ">
                        {{ render_field(suspend_user_form.password, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>

<!--Popup to terminate user!-->
<div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Why are you terminating this user?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(terminate_user_form.category, class="form-control") }}
                    </div>
        
                    <div class="form-group ">
                        {{ render_field(terminate_user_form.terminate_text, class="form-control") }}
                    </div>
                    <div class="form-group ">
                        {{ render_field(terminate_user_form.password, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>

<!--Popup to restore user!-->
<div class="modal" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Restore user</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(restore_user_form.password, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>



</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}