{% extends "Operatorbase.html"%}
{% block title %}Suspend user{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<div style="width:100vw; height:100vh;" class="justify-content-center"> <!--div for screen only-->
    <div class=" d-flex flex-column justify-content-center align-items-center" style="justify-self:center; max-height:40vh; max-width:70vh; width:100%; height:100%;" >
        <div class="">
            <h1>Warning!</h1>
        </div>
        <div>
            <p>You are about to suspend user <span>{{customer.get_username()}}</span></p>
        </div>
        <div style="margin:6%"><!--img -->
            <img src="../static/profilepics/customer{{customer.get_id()}}.jpg" style="width:100px; height:100px; border-radius:50%" class="align-self-center">
        </div>
        <div class="d-flex flex-row justify-content-evenly">
            <div style="margin-right:5%"><!--cancel -->
                <a class="btn btn-danger" href="#">
                    Cancel
                </a>
            </div>
            <div><!--confirm-->
                <a class="btn btn-success" href="/suspenduser/{{customer.get_id()}}">
                    Confirm
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% from "includes/_formHelper.html" import render_field %}