{% extends "Operatorbase.html"%}
{% block title %}Profile{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<style>
    .categories{
        font-size:1.5rem;
    }
    
    .categories:active{
        color:green;
    }
    
    
    #reviewbar{
        margin:20px;
        background:lightgray;
        height:14vh;
        width:40vw;
        float:left;
    }
    
    
</style>
<h1 class="display-4">Profile</h1>
<div id="profilebar " style="background: gray; height: 17vh; left:20%;" class=" w-50 p-3 d-flex flex-row" > <!--vh means 15% of viewport aka dynamic lmao-->
    <img src="../static/profilepics/customer{{customer.get_id()}}.jpg" style="width:100px; height:100px; border-radius:50%" class="align-self-center"> <!--load profile pic-->
    
    <p class="m-auto align-self-baseline" style="font-size:1.5rem">{{customer.get_username()}}</p>
    {%if customer.get_status() =="active"%}
    <p class="m-auto" style="font-size:1.5rem;">{{customer.get_rating()}}
        <i class="bi bi-star-fill" style="color:rgb(1, 1, 248);" ></i>
    </p>    
    <p class="m-auto" style="font-size:1.5rem">{{customer.get_date_joined()}}</p>
    {%endif%}
    {%if customer.get_status() == "suspended"%}
    <p class="m-auto" style="font-size:1.5rem; color:red">This account is under suspension</p>
    {%endif%}
    {%if customer.get_status() == "terminated"%}
    <p class="m-auto" style="font-size:1.5rem; color:red">This account is terminated</p>
    {%endif%}
    <div>
        <button type="button" class="btn btn-primary bg-secondary border-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
        </button>
        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
            {%if customer.get_status() != "suspended"%}
                <li><a class="dropdown-item" href="#" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal1">Suspend User<i class="bi bi-exclamation-trianglen" style="color: red; margin-left:7%;"></i></a></li>
                {%endif%}
                {%if customer.get_status() != "terminated"%}
                <li><a class="dropdown-item" href="#" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal2">Terminate User<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                {%endif%}
                {%if customer.get_status() != "active"%} <!--for now u can restore a terminated account-->
                <li><a class="dropdown-item" href="#" class="align-items-center" style="color:red" data-bs-toggle="modal" data-bs-target="#myModal3">Restore user<i class="bi bi-exclamation-triangle" style="color: red; margin-left:7%;"></i></a></li>
                {%endif%}
        </ul>
    </div>
</div>


<div class=" w-50 p-3 d-flex align-items-center"> <!--still a wip-->
    <a href="/operatorviewprofile/{{customer.get_id()}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Listings</a>
    <a href="/operatorviewprofilereviews/{{customer.get_id()}}" style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Reviews</a>
    <a href = "/operatorviewprofilefeedback/{{customer.get_id()}}"style="text-decoration:none; color:black; font-size:2rem;" class="m-auto">Feedback</a>
</div>

{% if number_of_reviews == 0 %}
<p>There are no reviews.</p>
{% else %}
<div id="reviews_container" class="w-50 p-3 h-auto d-inline-block justify-content-center"> <!--container for the reviews, same concept as listings-->
{% for review in list_reviews%}
    <div id="reviewbar" class="p-3 d-flex">

        <div class="d-flex flex-column"> <!--display profile pic with name underneath-->
            <img src="../static/profilepics/customer{{review.get_creator_ID()}}.jpg" style="width:70px; height:70px; border-radius:50%">
            <p>{{review.get_creator_username()}}</p>
        </div>
    
        <p style="margin-left:4%">{{review.get_comment()}}</p>
    </div>
{% endfor %}
{% endif %}
<!--Popup to suspend user!-->
<div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Why are you suspending this user?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(suspend_user_form.category, class="form-control") }}
                    </div>
        
                    <div class="form-group ">
                        {{ render_field(suspend_user_form.suspend_text, class="form-control") }}
                    </div>
                    <div class="form-group ">
                        {{ render_field(suspend_user_form.password, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>

<!--Popup to terminate user!-->
<div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Why are you terminating this user?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(terminate_user_form.category, class="form-control") }}
                    </div>
        
                    <div class="form-group ">
                        {{ render_field(terminate_user_form.terminate_text, class="form-control") }}
                    </div>
                    <div class="form-group ">
                        {{ render_field(terminate_user_form.password, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>

<!--Popup to restore user!-->
<div class="modal" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Restore user</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="">
                <div>
                    <div class="form-group ">
                        {{ render_field(restore_user_form.password, class="form-control") }}
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>

{% endblock %}
{% from "includes/_formHelper.html" import render_field %}