{% extends "Operatorbase.html"%}
{% block title %}Dashboard - operator actions{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<h1 class="display-4">Operator actions management center</h1>
<div style="width: 65%;" class="p-3 d-flex align-items-center justify-content-evenly"> <!--still a wip-->
    <a href="/dashboard/users"  style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Users</a>
    <a href="/dashboard/listings"   style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Listings</a>
    <a href="/dashboard/transactions" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Transactions</a>
    <a href="/dashboard/feedbacks" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Feedback</a>
    <a href="/dashboard/reports" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Reports</a>
    <a href="/dashboard/operatoractions" style="text-decoration:none; color:rgb(9, 223, 98); font-weight:bold" class="m-auto">Operator actions</a>
    <a href="/dashboard/OperatorDashboard" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Customer dashboard</a>
</div>
<div>
    <table class="table table-striped">
        <thead><tr><th>Operator action ID</th><th>user ID</th><th>action</th><th>Reason</th><th>Remarks</th>
            <th style="width:20%">
                <div class="d-flex flex-row">
                    <form class="d-flex flex-row align-items-end" method="POST">
                        <div class="form-group" style="margin-left:3vh; margin-right:3vh;">
                            {{ render_field(form.searchfield, class="form-control") }}
                        </div>
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </th>
        </tr></thead>
        <tbody>
            {% for operatoraction in operator_actions_list%}
            <tr>
                <td>{{operatoraction.get_ID()}}</td><td>{{operatoraction.get_affecteduserID()}}</td><td>{{operatoraction.get_category()}}</td><td>{{operatoraction.get_reason()}}</td><td>{{operatoraction.get_text()}}</td><td></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}