{% extends "Operatorbase.html"%}
{% block title %}Invalid listing{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<div style="width:100vw; height:100vh;" class="justify-content-center"> <!--div for screen only-->
    <div class=" d-flex flex-column justify-content-center align-items-center" style="justify-self:center; max-height:40vh; max-width:70vh; width:100%; height:100%;" >
        <h1>Listing does not exist</h1>
        <p>Please ensure you entered the correct listing ID</p>
    </div>
</div>

{% endblock %}
{% from "includes/_formHelper.html" import render_field %}