{% extends "Operatorbase.html"%}
{% block title %}Login{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<h2 style="justify-self:center">Enter OTP</h2>
<div class="d-flex flex-column w-50 d-flex justify-content-center" style="border:red solid 3px; margin:auto; height:50vh; background-color:lightgray; margin-top:10vh;">
    <form method="POST" action="" id="todo-form">
        
        <div class="form-group" style="margin-left:3vh; margin-right:3vh;">
            {{ render_field(form.OTP, class="form-control") }}
        </div>
        <div style="justify-self:center"> <!--div for button only-->
            <input type="submit" value="Login" class="btn btn-primary"/>
        </div>


    </form>
</div>

{% endblock %}
{% from "includes/_formHelper.html" import render_field %}