{% extends "Operatorbase.html"%}
{% block title %}Dashboard - feedback{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<h1 class="display-4">Dashboard</h1>
<div class=" w-50 p-3 d-flex align-items-center justify-content-evenly"> <!--still a wip-->
    <a href="/dashboard/users"  style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Users</a>
    <a href="/dashboard/listings" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Listings</a>
    <a href="/dashboard/transactions" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Transactions</a>
    <a href="/dashboard/feedbacks" style="text-decoration:none; color:rgb(9, 223, 98); font-weight:bold" class="m-auto">Feedback</a>
    <a href="/dashboard/reports" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Reports</a>
    <a href="/dashboard/operatoractions" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">operator actions</a>
</div>
<div>
    <table class="table table-striped">
        <thead><tr><th>Feedback ID</th><th>Rating</th><th>Remarks</th><th>Reply</th><th>Action</th>
        </tr></thead>
        <tbody>
            {% for feedback in feedbacks_list%}
            <tr><td>{{feedback.get_ID()}}</td><td>{{feedback.get_rating()}}<i class="bi bi-star-fill" style="color:rgb(1, 1, 248);" ></i></td><td>{{feedback.get_remark()}}</td><td>Reply:{{feedback.get_reply()}}</td><td>
                <a href="{{ url_for('reply_feedback', feedback_id=feedback.get_ID()) }}" class="btn btn-primary">Reply</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
