{% extends "Operatorbase.html"%}
{% block title %}Dashboard - reports{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<h1 class="display-4">Dashboard</h1>
<div class=" w-50 p-3 d-flex align-items-center justify-content-evenly"> <!--still a wip-->
    <a href="/dashboard/users"  style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Users</a>
    <a href="/dashboard/listings"  style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Listings</a>
    <a href="/dashboard/transactions" style="text-decoration:none; color:black; font-weight:bold">Transactions</a>
    <a href="/dashboard/feedbacks" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">Feedback</a>
    <a href="/dashboard/reports" style="text-decoration:none; color:rgb(9, 223, 98); font-weight:bold" class="m-auto">Reports</a>
    <a href="/dashboard/operatoractions" style="text-decoration:none; color:black; font-weight:bold" class="m-auto">operator actions</a>
</div>
<div>
    <table class="table table-striped">
        <thead><tr><th>Report ID</th><th>Offender ID</th><th>Offender username</th><th>Reason</th><th>Description</th>
            <th style="width:20%">
                <div class="d-flex flex-row">
                    <form class="d-flex flex-row align-items-end" method="POST">
                        <div class="form-group" style="margin-left:3vh; margin-right:3vh;">
                            {{ render_field(form.searchfield, class="form-control") }}
                        </div>
                        <div style="justify-self:center"> <!--div for button only-->
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </th>
        </tr></thead>
        <tbody>
            {% for report in reports_list%}
            <tr>
                <td>{{report.get_ID()}}</td><td>{{report.get_offender_ID()}}</td><td>{{report.get_offender_username()}}</td><td>{{report.get_category()}}</td><td>{{report.get_comment()}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}