{% extends "Operatorbase.html"%}
{% block title %}Restore user{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<div style="width:100vw; height:100vh;"> <!--div for screen only-->
    <div class=" d-flex flex-column w-50 h-50 d-flex justify-content-center" style="justify-self:center;" >
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="shadow-sm p-3 mb-2 bg-body rounded"style="max-width:40vw; width:100%; max-height:50vh; height:100%; justify-self:center; padding:2%; margin:2%;">
                <p style="font-weight:bold">Restore user</p>
                <div class="form-group" >
                    {{ render_field(form.affectedid, class="form-control") }}
                </div>
                <div class="form-group" >
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <div style="justify-self:center"> <!--div for button only-->
                    <input type="submit" value="Restore user" class="btn btn-primary"/>
                    <a href="/profile/{{customerID}}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
            


         
        </form>
    </div>
</div>

{% endblock %}
{% from "includes/_formHelper.html" import render_field %}