{% extends "Operatorbase.html"%}
{% block title %}Operator dashboard{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<div style="max-width:80%; width:100%; justify-self:center">
    <div><!--Status info-->
        <a data-bs-toggle="collapse" style="text-decoration:none; color:black; justify-self:center"href="#display_statuses" role="button" aria-expanded="false" aria-controls="display_statuses">
            <h1>Status info</h1>
        </a>
        <div class="collapse" id="display_statuses">
            
            <div class="card card-body"> <!--show other status eg: users,listings,reports,etc-->


                <div> <!--Users info-->
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#usermoreinfo" aria-expanded="false" aria-controls="usermoreinfo">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                        </div>

                        <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                            <div class="d-flex flex-column">
                                <h3>Users</h3>
                                <p>There are currently <span>{{userinfo[0]}}</span> users on your site</p>
                            </div>
                        </div>

                        <div> <!--button to go to dashboard-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                                <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="/dashboard/users" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="usermoreinfo" style="max-width:100%; width:100%; max-height:75vh; height:100%; margin-bottom:2%;"><!--more user infos-->
                        <div class="card card-body" style="border:none;">
                            <div>
                                <div style="max-width:100%; width:100%; max-height:21vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-1 bg-body rounded d-flex flex-column">
                                    <div> <!--click to open more details-->
                                        <div style="justify-self:end;">
                                            <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#usermoreinfo" aria-expanded="false" aria-controls="usermoreinfo">
                                                <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <h3 style="color:green">Active</h3>
                                        <p>There are currently <span>{{userinfo[1]}}</span> active users on your site</p>
                                    </div>
                                    <div> <!--button to go to dashboard-->
                                        <div style="justify-self:end;">
                                            <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <li><a class="dropdown-item" href='/dashboard/users/status=active' class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-1 bg-body rounded d-flex flex-column">
                                    <div> <!--click to open more details-->
                                        <div style="justify-self:end;">
                                            <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#usermoreinfo" aria-expanded="false" aria-controls="usermoreinfo">
                                                <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <h3 style="color:red">Suspended</h3>
                                        <p>There are currently <span>{{userinfo[2]}}</span> suspended users on your site</p>
                                    </div>
                                    <div> <!--button to go to dashboard-->
                                        <div style="justify-self:end;">
                                            <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <li><a class="dropdown-item" href='/dashboard/users/status=suspended' class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-1 bg-body rounded d-flex flex-column">
                                    <div> <!--click to open more details-->
                                        <div style="justify-self:end;">
                                            <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#usermoreinfo" aria-expanded="false" aria-controls="usermoreinfo">
                                                <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <h3 style="color:red">Terminated</h3>
                                        <p>There are currently <span>{{userinfo[3]}}</span> terminated users on your site</p>
                                    </div>
                                    <div> <!--button to go to dashboard-->
                                        <div style="justify-self:end;">
                                            <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <li><a class="dropdown-item" href='/dashboard/users/status=terminated' class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div> <!--listings-->
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingmoreinfo" aria-expanded="false" aria-controls="listingmoreinfo">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                            <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                                <div class="d-flex flex-column">
                                    <h3>Listings</h3>
                                    <p>There are currently <span>{{listinginfo[0]}}</span> listings on your site</p>
                                </div>
                            </div>
                            <div> <!--button to go to dashboard-->
                                <div style="justify-self:end;">
                                    <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href='/dashboard/listings' class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="listingmoreinfo" style="max-width:100%; width:100%; max-height:75vh; height:100%; margin-bottom:2%;">
                        <div class="card card-body" style="border:none;">
                            
                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingmoreinfo" aria-expanded="false" aria-controls="listingmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:green">Available</h3>
                                    <p>There are currently <span>{{listinginfo[1]}}</span> available listings on your site</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href='/dashboard/listings/status=available' class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingmoreinfo" aria-expanded="false" aria-controls="listingmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:red">Disabled</h3>
                                    <p>There are currently <span>{{listinginfo[2]}}</span> disabled listings on your site</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href='/dashboard/listings/status=disabled' class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingmoreinfo" aria-expanded="false" aria-controls="listingmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:purple">Reserved</h3>
                                    <p>There are currently x reserved listings on your site</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--add more later on prob-->
                        </div>
                    </div>
                </div>

                <div> <!--feedback-->
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#feedbackmoreinfo" aria-expanded="false" aria-controls="feedbackmoreinfo">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                        </div>
                        <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                            <div class="d-flex flex-column">
                                <h3>Feedback</h3>
                                <p>There are currently <span>{{feedbackinfo[0]}}</span> feedbacks on your site</p>
                            </div>
                        </div>
                        <div> <!--button to go to dashboard-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                                <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="/dashboard/feedbacks" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="feedbackmoreinfo" style="max-width:100%; width:100%; max-height:75vh; height:100%; margin-bottom:2%;"><!--more feedback infos-->
                        <div class="card card-body" style="border:none;">
                            <div style="max-width:100%; width:100%; max-height:19vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#feedbackmoreinfo" aria-expanded="false" aria-controls="feedbackmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:green">Answered</h3>
                                    <p>You have replied to <span>{{feedbackinfo[1]}}</span> feedbacks</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/dashboard/feedbacks/replied" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#feedbackmoreinfo" aria-expanded="false" aria-controls="feedbackmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:red">Unanswered</h3>
                                    <p>You have not replied to <span>{{feedbackinfo[2]}}</span> feedbacks</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/dashboard/feedbacks/unreplied" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div><!--transactions-->
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#transactionmoreinfo" aria-expanded="false" aria-controls="transactionmoreinfo">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                            <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                                <div class="d-flex flex-column">
                                    <h3>Transactions</h3>
                                    <p>There are currently <span>{{transactioninfo[0]}}</span> transactions on your site</p>
                                </div>
                            </div>
                            <div> <!--button to go to dashboard-->
                                <div style="justify-self:end;">
                                    <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="/dashboard/transactions" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="transactionmoreinfo" style="max-width:100%; width:100%; max-height:75vh; height:100%; margin-bottom:17%;"><!--more transac infos-->
                        <div class="card card-body" style="border:none;">
                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#transactionmoreinfo" aria-expanded="false" aria-controls="transactionmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:purple">Pending</h3>
                                    <p>There are <span>{{transactioninfo[1]}}</span> pending transactions</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/dashboard/transactions/filter=Pending" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#transactionmoreinfo" aria-expanded="false" aria-controls="transactionmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:purple">In Transit</h3>
                                    <p>There are <span>{{transactioninfo[2]}}</span> in transit transactions</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/dashboard/transactions/filter=In Transit" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#transactionmoreinfo" aria-expanded="false" aria-controls="transactionmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:green">Delivered</h3>
                                    <p>There are <span>{{transactioninfo[3]}}</span> delivered transactions</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/dashboard/transactions/filter=Delivered" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#transactionmoreinfo" aria-expanded="false" aria-controls="transactionmoreinfo">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:red">Cancelled</h3>
                                    <p>There are <span>{{transactioninfo[4]}}</span> cancelled transactions</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/dashboard/transactions/filter=Cancelled" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <div><!--Reports-->
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="false" aria-controls="">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                            <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                                <div class="d-flex flex-column">
                                    <h3>Reports</h3>
                                    <p>There are currently <span>{{reportinfo[0]}}</span> reports on your site</p>
                                </div>
                            </div>
                            <div> <!--button to go to dashboard-->
                                <div style="justify-self:end;">
                                    <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div><!--operator actions-->
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="false" aria-controls="">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                            <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                                <div class="d-flex flex-column">
                                    <h3>Operator actions</h3>
                                    <p><span>{{opactioninfo[0]}}</span> operator actions have been carried out so far</p>
                                </div>
                            </div>
                            <div> <!--button to go to dashboard-->
                                <div style="justify-self:end;">
                                    <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="" class="align-items-center" style="color:black">View on dashboard<i class="bi bi-eye" style="color: black; margin-left:4%;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                
                
            </div>



        </div>

        <a data-bs-toggle="collapse" style="text-decoration:none; color:black; justify-self:center"href="#display_operatoractions" role="button" aria-expanded="false" aria-controls="display_statuses">
            <h1>Operator actions</h1>
        </a>
        <div class="collapse" id="display_operatoractions">
            <div class="card card-body">
                <div>
                    <div style="max-width:100%; width:100%; max-height:20vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#useractions" aria-expanded="false" aria-controls="usermoreinfo">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                        </div>

                        <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                            <div class="d-flex flex-column">
                                <h3 style="color:red">Users</h3>
                                <p>Suspend,restore or terminate a user</p>
                            </div>
                        </div>

                    </div>
                    
                    <div class="collapse" id="useractions" style="max-width:100%; width:100%; max-height:75vh; height:100%; margin-bottom:2%"><!--more feedback infos-->
                        <div class="card card-body" style="border:none;">

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#useractions" aria-expanded="false" aria-controls="useractions">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:red">Suspend</h3>
                                    <p>Suspend a user</p>
                                </div>
                                <div> <!--button to go to suspend user page-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/operatorsuspenduser/0" class="align-items-center" style="color:black">Suspend user<i class="bi bi-arrow-right-short" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#useractions" aria-expanded="false" aria-controls="useractions">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:red">Terminate</h3>
                                    <p>Terminate a user</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/operatorterminateuser/0" class="align-items-center" style="color:black">Terminate user<i class="bi bi-arrow-right-short" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="useractions" aria-expanded="false" aria-controls="useractions">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:green">Restore</h3>
                                    <p>Restore a user</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/operatorrestoreuser/0" class="align-items-center" style="color:black">Restore user<i class="bi bi-arrow-right-short" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="max-width:100%; width:100%; max-height:24vh; height:100%; border:lightgray solid 1px;" class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column"> <!--main section-->
                        
                        <div> <!--click to open more details-->
                            <div style="justify-self:end;">
                                <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingactions" aria-expanded="false" aria-controls="listingactions">
                                    <i class="bi bi-arrow-down-short" style="color:black; font-size: 1.2rem;"></i> 
                                </button>
                            </div>
                        </div>

                        <div class="d-flex flex-row" style="width:100%;"> <!--content itself-->
                            <div class="d-flex flex-column">
                                <h3 style="color:red">Listings</h3>
                                <p>Disable or restore a listing</p>
                            </div>
                        </div>

                    </div>
                    <div class="collapse" id="listingactions" style="max-width:100%; width:100%; max-height:75vh; height:100%;"><!--more feedback infos-->
                        <div class="card card-body" style="border:none;">
                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingactions" aria-expanded="false" aria-controls="listingactions">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:red">Disable</h3>
                                    <p>Disable a listing</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/operatordisablelisting/0" class="align-items-center" style="color:black">Disable listing<i class="bi bi-arrow-right-short" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div style="max-width:100%; width:100%; max-height:24vh; height:100%;border:lightgray solid 1px;" class="shadow-sm p-3 mb-2 bg-body rounded d-flex flex-column">
                                <div> <!--click to open more details-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" data-bs-toggle="collapse" data-bs-target="#listingactions" aria-expanded="false" aria-controls="listingactions">
                                            <i class="bi bi-arrow-up-short" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 style="color:green">Restore</h3>
                                    <p>Restore a listing</p>
                                </div>
                                <div> <!--button to go to dashboard-->
                                    <div style="justify-self:end;">
                                        <button class="btn btn-primary border-0" style="background:none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color:black; font-size: 1.2rem;"></i> 
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="/operatorrestorelisting/0" class="align-items-center" style="color:black">Restore listing<i class="bi bi-arrow-right-short" style="color: black; margin-left:4%;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
